<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span>Transaction</span> {{transaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Double Spend</span></dt>
                <dd>
                    <span>{{transaction.doubleSpend}}</span>
                </dd>
                <dt><span>Block Height</span></dt>
                <dd>
                    <span>{{transaction.blockHeight}}</span>
                </dd>
                <dt><span>Time</span></dt>
                <dd>
                    <span>{{transaction.time}}</span>
                </dd>
                <dt><span>Lock Time</span></dt>
                <dd>
                    <span>{{transaction.lockTime}}</span>
                </dd>
                <dt><span>Relayed By</span></dt>
                <dd>
                    <span>{{transaction.relayedBy}}</span>
                </dd>
                <dt><span>Hash</span></dt>
                <dd>
                    <span>{{transaction.hash}}</span>
                </dd>
                <dt><span>Index</span></dt>
                <dd>
                    <span>{{transaction.index}}</span>
                </dd>
                <dt><span>Version</span></dt>
                <dd>
                    <span>{{transaction.version}}</span>
                </dd>
                <dt><span>Size</span></dt>
                <dd>
                    <span>{{transaction.size}}</span>
                </dd>
                <dt><span>Block</span></dt>
                <dd>
                    <div *ngIf="transaction.blockId">
                        <a [routerLink]="['/block', transaction.blockId, 'view']">{{transaction.blockId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
